apiVersion: apps/v1
kind: Deployment
metadata:
  name: nifty-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
        - name: my-app
          image: 495253170921.dkr.ecr.ap-south-1.amazonaws.com/testing:latest # Update the image tag to the latest version
          ports:
            - containerPort: 80
          resources:
            requests:
              memory: "64Mi"
              cpu: "250m"
            limits:
              memory: "128Mi"
              cpu: "500m"
          imagePullPolicy: Always # Set the imagePullPolicy to Always
