apiVersion: apps/v1
kind: Deployment
metadata:
  name: nifty-deployment
spec:
  replicas: 2  # Use at least 2 replicas for high availability
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      hostNetwork: true  # Set the hostNetwork to true to use host network
      containers:
        - name: my-app
          image: 495253170921.dkr.ecr.ca-central-1.amazonaws.com/nifti2:latest
          ports:
            - containerPort: 80
          resources:
            requests:
              memory: "64Mi"
              cpu: "250m"
            limits:
              memory: "128Mi"
              cpu: "500m"
          imagePullPolicy: Always

---
apiVersion: v1
kind: Service
metadata:
  name: my-app-service
spec:
  selector:
    app: my-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: LoadBalancer  # Use a LoadBalancer type service for external access
